@import url('https://fonts.googleapis.com/css2?family=Italiana&family=Playfair+Display+SC&family=Poppins:wght@200;300;400;500;600;700;800;900&family=Prata&family=Questrial&family=Suranna&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.app {
  margin: auto;
}